build_tmp/
node_modules
.DS_Store
.*.swp
.svn
CVS/
# Ignore all backup files
*~
# Ignore Emacs auto saved files
*#*#
build/classes
build/jar
build/build_tmp
build/yuicompressor*.jar
.project
.classpath

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar
